<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/js/fancy/source/jquery.fancybox.css" type="text/css" />
</head>
<body>
    <div>
        <p>Lorem ipsum</p>
        <a class='as-email' data-code='code1' data-param1='1111' data-param2='2222'>Click</a><br />
        <a class='as-email' data-code='code2' data-param1='1111' data-param2='2222' data-param3='3333' data-param4='4444'>Click</a>
    </div>
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/js/fancy/source/jquery.fancybox.js"></script>
    <script type="text/javascript" src="~/js/AS/as.resources.js"></script>
    <script type="text/javascript" src="~/js/AS/as.sys.js"></script>
    <script type="text/javascript" src="~/Scripts/as.emails.js"></script>
    <script type="text/javascript">
        as.emails.init({
            ajaxURLFormat: "/AsEmail/asSend"
        });
    </script>
    @*<script src="~/Scripts/code.js"></script>*@
</body>
</html>